.card {
	background-color: rgba(0, 0, 0, 0.109);
	padding: 1rem;
	border-radius: 10px;
}

.card:hover {
	background: rgb(6, 46, 61);
	background: radial-gradient(
		circle,
		rgba(6, 46, 61, 1) 48%,
		rgba(2, 16, 17, 1) 100%
	);
}

.card > small {
	opacity: 0.4;
}

.card > p {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding-top: 1rem;
	text-overflow: ellipsis;
}
