.headers {
	padding: 1rem;
	box-shadow: 0px 5px 5px -5px rgba(32, 127, 168, 0.75);
	-webkit-box-shadow: 0px 5px 5px -5px rgba(32, 127, 168, 0.75);
	-moz-box-shadow: 0px 5px 5px -5px rgba(32, 127, 168, 0.75);
}

.logo img {
	width: 4rem;
	height: 4rem;
	object-fit: cover;
}

.btn.btn-archives {
	border-radius: 1.25rem;
	transition: all 0.3s ease-in-out;
}

.btn-archives:hover {
	transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
	.logo img {
		width: 2rem;
		height: 2rem;
	}
	.h1.mobile {
		font-size: 16px;
		line-height: 16px;
	}
}
