@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-bkg1: 210deg 40% 98%;
		--color-content: 196deg 85% 3%;
		--color-primary1: 196deg 28% 31%;
		--color-primary2: 196 82% 13%;
		--color-secondary1: 183deg 48% 61%;
		--color-secondary2: 183deg 31% 46%;
	}
	@media (prefers-color-scheme: dark) {
		:root {
			--color-bkg1: 196deg 85% 3%;
			--color-content: 210deg 40% 98%;
		}
	}
	:root[data-theme='dark'] {
		--color-bkg1: 196deg 85% 3%;
		--color-content: 210deg 40% 98%;
	}
	body {
		@apply min-h-screen overflow-x-hidden font-poppins bg-bkg-1 text-content;
	}
	.text-gradient {
		@apply bg-gradient-to-r from-[#207fa8] via-[#d7d96c] to-[#3bd19f] bg-clip-text text-transparent;
	}
}

.ql-container {
	border: none !important;
}
.ql-toolbar.ql-snow {
	border: 1px solid #062e3c !important;
	border-bottom: none !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.ql-editor {
	border: 1px solid #062e3c;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ql-editor.borderNone {
	border: none;
}

.ql-editor h1 {
	font-size: clamp(20px, 3vw, 48px);
}

.ql-editor h2 {
	font-size: clamp(18px, 2.8vw, 40px);
}

.ql-editor h3 {
	font-size: clamp(16px, 2.6vw, 36px);
}

.ql-editor h4 {
	font-size: clamp(14px, 2.4vw, 32px);
}

.ql-editor h5 {
	font-size: clamp(12px, 2.2vw, 28px);
}

.ql-editor h6 {
	font-size: clamp(10px, 2vw, 24px);
}

.ql-editor p {
	font-size: clamp(14px, 1.8vw, 24px);
}

.ql-editor span {
	font-size: clamp(14px, 1.6vw, 20px);
}
