.container.container-create-note {
	width: 70%;
	padding: 0;
}
.title-content {
	text-align: center;
	text-transform: capitalize;
}

@media only screen and (max-width: 1040px) {
	.container-form {
		flex-direction: column;
	}
	.container.container-create-note {
		width: 100%;
	}
}
